/* Tab header type horizontal */

.bls__tab .bls__section-header:not(.tab-header) {
  --bls__section-header-margin: 1.5rem;
}

.tab-desgin-1 .bls__collection-tab-item,
.tab-desgin-3 .bls__collection-tab-item {

  color: var(--heading-color);
  cursor: pointer;
  font-size: var(--tab-size, 1.3rem);
  font-weight: var(--tab-font-weight, var(--heading-font-weight));
  padding: 0.95rem 2rem;
  border-radius: var(--btn-border-radius);
  margin-bottom: 0;
  margin-right: 1rem;
  text-transform: uppercase;
  transition: var(--bls-transition);
  -webkit-transition: var(--bls-transition);
}

.tab-desgin-3 .bls__collection-tab-item {
  padding: 0.95rem 3.5rem;
}

.tab-desgin-1 .bls__collection-tab-item.active,
.tab-desgin-1 .bls__collection-tab-item:hover {
  background-color: var(--light-grey-color);
  color: var(--heading-color);
}

.tab-desgin-3 .bls__collection-tab-item {
  background-color: var(--light-grey-color);
}

.tab-desgin-3 .bls__collection-tab-item.active,
.tab-desgin-3 .bls__collection-tab-item:hover {
  background-color: var(--heading-color);
  color: #FFFFFF;
}

.tab-desgin-2 .bls__collection-tab-item,
.tab-desgin-4 .bls__collection-tab-item {
  color: var(--grey-color);
  cursor: pointer;
  font-size: var(--tab-size, 2rem);
  padding: 0;
  margin-bottom: 0;
  margin-right: 3rem;
  transition: var(--bls-transition);
  -webkit-transition: var(--bls-transition);
  position: relative;
}

html:not(.body-rtl) .bls__collection-tab-item:last-child {
  margin-right: 0;
}

.tab-desgin-2 .bls__collection-tab-item::before,
.tab-desgin-4 .bls__collection-tab-item::before {
  content: '';
  height: 2px;
  background-color: var(--heading-color);
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: var(--bls-transition);
  -webkit-transition: var(--bls-transition);
}

.tab-desgin-4 .bls__collection-tab-item {
  margin-right: 3rem;
}

.tab-desgin-4 .bls__collection-tab-item::before {
  border-radius: 10px;
}

.tab-desgin-2 .bls__collection-tab-item.active,
.tab-desgin-2 .bls__collection-tab-item:hover,
.tab-desgin-4 .bls__collection-tab-item.active,
.tab-desgin-4 .bls__collection-tab-item:hover {
  color: var(--heading-color);
}

.tab-desgin-2 .bls__collection-tab-item.active::before,
.tab-desgin-2 .bls__collection-tab-item:hover::before,
.tab-desgin-4 .bls__collection-tab-item.active::before,
.tab-desgin-4 .bls__collection-tab-item:hover::before {
  width: 100%;
}

.tab-desgin-4 .bls__section-heading {
  --bls__section-heading-weight: 600;
}

.tab-design-with-heading .bls__section-heading {
  margin-bottom: 0;
}

.tab-design-with-heading .bls__section-header.tab-header {
  margin-bottom: 2rem;
}