.collection-item {
    --collection-title-color: var(--color-link);
    --collection-count-color: var(--grey-color);
}

.bls__collection-title {
    font-size: var(--collection-title-size);
    font-weight: var(--collection-title-weight, var(--heading-font-weight));
    color: var(--collection-title-color);
    margin-bottom: var(--collection-title-spacing);
}

.bls__collection-title a {
    color: var(--collection-title-color);
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.bls__collection-count {
    font-size: var(--collection-count-size);
    font-weight: var(--collection-count-weight);
    color: var(--collection-count-color);
}

.link__collection-count::before,
.bls__collection-count::before {
    content: "(";
}

.link__collection-count::after,
.bls__collection-count::after {
    content: ")";
}

.collection-infinite-scroll .button {
    cursor: pointer;
}

.design-2.bls__collection-content .bls__collection-image,
.design-3.bls__collection-content .bls__collection-image {
    max-width: var(--image-width);
}

.bls__collection-content .bls__collection-image {
    overflow: hidden;
    margin: auto;
}

.bls__collection-content.rounded .bls__collection-image {
    border-radius: 50%;
    will-change: transform;
}

.bls__collection-packery-content.radius .collection-item-link,
.bls__collection-content.radius .bls__collection-image {
    border-radius: var(--base-border-radius);
    will-change: transform;
}

.bls__collection-packery-content.radius .collection-item-link {
    display: block;
}

/* Design 1 and collection list */
.design-1 .bls__collection-infor.show-count,
.design-4 .bls__collection-infor.show-count,
.collection-list__item .bls__collection-infor.show-count {
    position: absolute;
    inset: auto 2rem 2rem 2rem;
    background-color: var(--color-white);
    padding: 2rem;
    text-align: center;
    z-index: 2;
}

.design-1 .hide_count .bls__collection-infor.show-count {
    padding: 1rem;
    position: unset;
    border-radius: unset;
    inset: unset;
}

.hide_count {
    z-index: 2;
    overflow: hidden;
    position: absolute;
    inset: auto 20% 2rem 20%;
}
@media (max-width: 768px) {
    .hide_count {
        inset: auto 5% 2rem 5%;
    }
}

.design__1_infor {
    transform: translateY(calc(50% - 5px + .5*var(--collection-title-spacing) - var(--collection-title-size) + 12px));
    transition: all 0.2s linear;
}

.hide_count .bls__collection-count {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
}

.collection-item:hover .design__1_infor {
    transform: none;
}

.collection-item:hover .bls__collection-count {
    opacity: 1;
    visibility: visible;

}

.design-5 .bls__collection-infor {
    position: absolute;
    inset: auto 4rem 4rem 4rem;
    z-index: 2;
    text-transform: uppercase;
}

.design-5 .bls__collection-infor .bls__collection-title {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--border-color-base);
    text-transform: uppercase;
}

.design-5 .bls__collection-infor .bls__collection-link {
    font-size: 14px;
    font-weight: 700;
}

.design-5 .bls__collection-title a:hover {
    color: var(--color-link-hover);
}

@media (max-width: 767px) {
    .design-5 .bls__collection-infor {
        inset: auto 2rem 2rem 2rem;
    }

    .design-5 .bls__collection-infor .bls__collection-link {
        font-size: 12px;
    }
}



.d-grid .bls__collection-infor:not(.show-count),
.design-1 .bls__collection-infor:not(.show-count),
.design-4 .bls__collection-infor:not(.show-count),
.collection-list__item .bls__collection-infor:not(.show-count) {
    inset: auto 0 3rem;
    margin: 0 1rem;
    z-index: 2;
}

.template-collection #MainContent .design-1 .bls__collection-infor:not(.show-count),
.template-collection #MainContent .design-4 .bls__collection-infor:not(.show-count),
.template-collection #MainContent .collection-list__item .bls__collection-infor:not(.show-count) {
    inset: auto 0 1.5rem;
    margin: 0 1.5rem;
}

@media (max-width: 575px) {
    .design-5 .bls__collection-infor {
        inset: auto 1.5rem 1.5rem 1.5rem;
    }

    .d-grid .bls__collection-infor:not(.show-count),
    .design-1 .bls__collection-infor:not(.show-count),
    .design-4 .bls__collection-infor:not(.show-count),
    .collection-list__item .bls__collection-infor:not(.show-count) {
        inset: auto 0 1.5rem;
    }
}

/* design 4 collection */
.design-4 .bls__collection-infor .bls__collection-count span {
    display: none;
}

.design-4 .bls__collection-infor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.design-4 .bls__collection-infor.show-count {
    border-radius: 30px;
    inset: auto 4rem 3rem 4rem;
    padding: 1rem 2rem;
}

@media only screen and (min-width: 768px) {

    .design-1 .bls__collection-infor:not(.show-count),
    .design-4 .bls__collection-infor:not(.show-count),
    .collection-list__item .bls__collection-infor:not(.show-count) {
        margin: 0 3rem;
        inset: auto 0 3rem;
    }

    .template-collection #MainContent .design-1 .bls__collection-infor:not(.show-count),
    .template-collection #MainContent .design-4 .bls__collection-infor:not(.show-count),
    .template-collection #MainContent .collection-list__item .bls__collection-infor:not(.show-count) {
        inset: auto 0 2rem;
        margin: 0 2rem;
    }
}

.design-1 .bls__collection-infor:not(.show-count) .bls__collection-title,
.design-4 .bls__collection-infor:not(.show-count) .bls__collection-title,
.collection-list__item .bls__collection-infor:not(.show-count) .bls__collection-title,
.bls__collection-packery .bls__collection-infor:not(.show-count) .bls__collection-title,
.bls__collection-packery .bls__collection-infor.show-count {
    margin: auto;
    padding: 10px;
    border-radius: var(--btn-border-radius);
    background-color: var(--color-white);
    width: 90%;
    max-width: 20rem;
    text-align: center;
}

.design-1:not(.more-categories) .bls__collection-infor:not(.show-count) .bls__collection-title,
.bls__collection-packery .bls__collection-infor:not(.show-count) .bls__collection-title,
.bls__collection-packery .bls__collection-infor.show-count {
    padding: var(--btn-padding);
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid var(--color-white);
    box-shadow: 0 5px 30px #0000000d;
    align-items: center;
}

/* Design 2 */
.design-6 .bls__collection-count::before,
.design-6 .bls__collection-count::after,
.design-2 .bls__collection-count::before,
.design-2 .bls__collection-count::after {
    display: none;
}

.design-6 .bls__collection-title,
.design-2 .bls__collection-title {
    margin-bottom: 3px;
}

/* Design 3 */
.design-3 .bls__collection-count {
    padding-left: 5px;
    position: relative;
    top: -8px;
}

.design-3 .bls__collection-count::before,
.design-3 .bls__collection-count::after,
.design-3 .bls__collection-count span {
    display: none;
}

.design-3 .bls__collection-infor {
    justify-content: center;
}

/* Design 6 */
.design-6 .bls__collection-infor {
    inset: auto 2rem clamp(2rem, 3.5vw, 4rem);
    z-index: 2;
}

.design-2.custom-width-images .bls__collection-grid .bls__collection-item,
.design-3.custom-width-images .bls__collection-grid .bls__collection-item {
    width: var(--image-width);
}

@media (max-width: 475px) {
    .design-4 .bls__collection-infor.show-count {
        inset: auto 2rem 2rem 2rem;
    }
}