/* Page faqs
-----------------------------------------------------------------*/
.bls__faqs-right>div:not(:last-child) {
    margin-bottom: clamp(4rem, 5vw, 6rem);
}

.bls__page-faq-content {
    line-height: 2.8rem;
    font-size: calc(var(--base-font-size) + 2px);
    display: none;
}

.bls__faqs-content h3 {
    font-size: clamp(2.5rem, 5vw, 3rem);
}

.faq-content:last-child {
    margin-bottom: 0;
    padding: 0;
}

.btn-faqs>a svg {
    vertical-align: -5px;
    margin-right: 5px;
}

.btn-faqs>a:hover svg path {
    stroke: var(--color-white);
    fill: none !important;
}

.bls__page-faq-items .bls__page-faq-title {
    font-weight: var(--bls__section-heading-weight);
    padding-right: 5rem;
    position: relative;
    color: #222222;
    cursor: pointer;
}

.bls__page-faq-items .bls__page-faq-title .open-children-toggle {
    right: -15px;
}

.bls__page-faq-items.active .bls__page-faq-title {
    color: var(--heading-color);
    border: 0;
}

.bls__page-faq-items.active .open-children-toggle:before {
    opacity: 0;
}

@media only screen and (min-width: 992px) {
    .bls__faqs-right {
        padding-left: 8.6rem;
    }

    .bls__faqs-right:before {
        content: "";
        position: absolute;
        left: 3.6rem;
        top: 0;
        bottom: 0;
        border-left: 1px solid var(--border-color-base);
    }
}

.bls__title-heading {
    font-weight: var(--bls__title-heading-weight, var(--heading-font-weight));
}

.bls__title-heading::after {
    content: "";
    max-width: 5rem;
    display: inline-flex;
    vertical-align: middle;
    margin: 0 2rem;
    width: 100%;
    height: 2px;
    flex-shrink: 0;
    margin-top: 3px;
    background-color: var(--heading-color);
}